@import '../../variables.scss';

.totalSumButton {
    display: block;
    margin: 0;
    padding: 0.25rem 0.75rem;
    font-size: 1.2rem;
    border-radius: 0;
}

.cancelCTA {
    background-color: $red;
    color: $white;

    &:hover {
        background-color: $hoverCancelColor;
    }
}

.addCTA {
    border-radius: 5px;
    margin: 0;
    padding: 0;
    background-color: $addColor;
    color: $white;

    &:hover {
        background-color:  $hoverAddColor;
    }
}

.doneCTA {
    background-color: $doneColor;
    color: $white;

    &:hover {
        background-color: $hoverDoneColor;
    }

    &:disabled {
      cursor: not-allowed;
      border: 1px solid #999999;
      background-color: $disabledColor;
      color: $disabledColorText;
    }
}

.resetCTA {
    background-color: $resetColor;
    color: $black;

    &:hover {
        background-color: $gold;
        color: $black;
    }
}

.additionCTA {
    padding: 0;
}