@import '../../variables.scss';

.activityContainer {
    position: relative;
    border: 2px solid #000;
    border-radius: 25px;
    text-align: center;
    box-sizing: content-box;
    font-size: 1.75rem;
    font-weight: bold;
    overflow: hidden;

    h3, h4 {
        margin: 0;
        padding-top: 1.75rem;
    }

    span {
        display: block;
        font-weight: normal;
        padding-bottom: 1rem;
    }
}

.headerRow {
    background-color: $white;

    p {
        margin: 0;
    }
}

.participantsRow {
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    display: flex;
    flex-direction: column;
    background-color: $participantsPool;
    padding: 1rem;
    padding-top: 0.25rem;

    h4 {
        margin: 0;
        padding-top: 0;
    }
}

.totalExpenseRow {
    background-color: $gold;
    padding: .5rem 0;
    font-size: 2rem;

    span {
        font-weight: bold;
    }
}

.dividedSumRow {
    color: $red;
    padding: 1rem;
    font-size: 2rem;
}

.menuIcon {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1rem;
    
    svg { 
        height: 2.5rem;

        &:hover {
            cursor: pointer;
        }
    }
}

.menu {
    position: absolute;
    right: 0;
    top: 2.5rem;
    box-shadow: $boxShadow;
    background-color: $white;
    color: $gold;

    button {
        border-radius: 0;
        // font-size: 1rem;
        font-size: .9375rem;
        display: block;
        border: none;
        width: 100%;
        margin: 0;

        &:hover {
            background-color: $menuHover;
            color: #050505;
        }
    }
}