@import '../../variables.scss';

// TODO: When have time, consolidate classes and create a common class
.poolBase {
    border: $borderOutline solid 2.5px;
    margin: 1rem 2rem;
    padding: 0.5rem;
    border-radius: 10px;
    box-sizing: content-box;
}

.poolContainer {
    grid-area: party;
    border: $borderOutline solid 2.5px;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 10px;
    box-sizing: content-box;

    h2 {
        margin: 0;
    }

    p {
        text-align: center;
    }
}

.minifiedPoolContainer {
    display: flex;
    flex-direction: column;
    height: 15rem;
    overflow: auto;
    border: $borderOutline solid 2.5px;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 10px;
    box-sizing: content-box;

    h2 { 
        margin: 0;
    }
}