@import '../../variables.scss';

.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    background-color: $modalBackgroundColor;
    padding: 2rem;
    border-radius: 10px;

    h2 {
        text-align: center;
    }
}