.payersContainers {
    border: 2px solid #000;
    padding: 1.25rem 2rem;
}

.buttonContainer {
    display: flex;
    justify-content: right;
    
    button {
        margin: 0 .75rem;
    }
}

