@import '../../variables.scss';

.payersContainers {
    display: grid;
    margin-bottom: 2rem;
    grid-template-columns: repeat(10, .25fr);
    border: 2px solid $black;
    padding: .5rem;
    
    div {
        display: flex;
        margin: 0 0.25rem;
    }

    label {
        font-weight: bold;
        font-size: 1.25rem;
        text-transform: capitalize;
        color:  $black;
        cursor: pointer;
    }
}

.buttonContainer {
    display: flex;
    justify-content: right;
    
    button {
        margin: 0 .75rem;
    }
}

