// Layout Colors
$green: #45D249;
$red: #E42424;
$gold: #F5BE0C;
$navyBlue: #3C496C;
$white: #fff;

// Misc.
$borderOutline: #5CA3C2;
$gridBackdrop: #eae4e440;

// Button Colors
$addColor: #006600;
$doneColor: #5AB5FA;